@model ShoppingZone.Data.Entity.Cart

<body>
    <div>
        @if (true)
        {

        }
        else
        {

        }
        <label style="color:wheat">@Model.cartLines.Count</label>
    </div>
</body>