
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<title>OK</title>
<div class="container" style="align-items:center; margin-top:30px">
    <h2>Your Order Has Been Completed!</h2>
    <h4>We will shipping soon...</h4>
</div>


